In [1]:
# Importing dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import html5lib
import pandas as pd

In [2]:
# Initializing splinter
!which chromedriver

executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

/usr/local/bin/chromedriver

### Nasa Mars News

In [3]:
# Opening URL
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
# Creating BeautifulSoup object and parsing with 'html.parser'
html = browser.html
news_soup = BeautifulSoup(html, 'html.parser')

In [5]:
# Scraping the first article title on the page
title = news_soup.find('div', class_='content_title').text
title

"NASA's Mars 2020 Rover Does Biceps Curls "

In [6]:
# Scraping the first article teaser text
teaser_text = news_soup.find('div', class_='article_teaser_body').text
teaser_text

"In this time-lapse video, the robotic arm on NASA's Mars 2020 rover maneuvers its 88-pound (40-kilogram) sensor-laden turret as it moves from a deployed to stowed configuration."

### Mars Space Featured Image

In [7]:
# Opening URL
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [8]:
# Getting 'FULL IMAGE'
browser.click_link_by_partial_text('FULL IMAGE')

In [9]:
# Getting 'more info'
browser.click_link_by_partial_text('more info')

In [10]:
# Creating BeautifulSoup object and parsing with 'html.parser'
html = browser.html
image_soup = BeautifulSoup(html, 'html.parser')

In [11]:
# Scraping the URL for link
feat_img_url = image_soup.find('figure', class_='lede').a['href']
feat_img_full_url = f'https://www.jpl.nasa.gov{feat_img_url}'
feat_img_full_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17900_hires.jpg'

### Mars Weather Tweet

In [12]:
# Opening URL
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [13]:
# Creating BeautifulSoup object and parsing with 'html.parser'
html = browser.html
tweet_soup = BeautifulSoup(html, 'html.parser')

In [14]:
# Scraping the tweet text
first_tweet = tweet_soup.find('p', class_='TweetTextSize').text
first_tweet

'InSight sol 233 (2019-07-23) low -98.8ºC (-145.9ºF) high -25.7ºC (-14.2ºF)\nwinds from the SE at 4.6 m/s (10.2 mph) gusting to 16.2 m/s (36.2 mph)\npressure at 7.60 hPapic.twitter.com/ksOXPg28yb'

### Mars Facts

In [15]:
# Scraping the table of Mars facts
url = 'https://space-facts.com/mars/'
table = pd.read_html(url)
table

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [17]:
mars_facts = table[0]
mars_facts

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C

In [18]:
# Removing Earth column
mars_facts.drop(columns={'Earth'}, inplace=True)
mars_facts

  Mars - Earth Comparison             Mars
0               Diameter:         6,779 km
1                   Mass:  6.39 × 10^23 kg
2                  Moons:                2
3      Distance from Sun:   227,943,824 km
4         Length of Year:   687 Earth days
5            Temperature:    -153 to 20 °C

In [20]:
# Renaming columns
mars_facts.rename(columns={'Mars - Earth Comparison': 'Property', 'Mars': 'Value'}, inplace=True)
mars_facts

             Property            Value
0           Diameter:         6,779 km
1               Mass:  6.39 × 10^23 kg
2              Moons:                2
3  Distance from Sun:   227,943,824 km
4     Length of Year:   687 Earth days
5        Temperature:    -153 to 20 °C

In [23]:
mars_facts.set_index('Property', inplace=True)

In [24]:
mars_facts

                              Value
Property
Diameter:                  6,779 km
Mass:               6.39 × 10^23 kg
Moons:                            2
Distance from Sun:   227,943,824 km
Length of Year:      687 Earth days
Temperature:          -153 to 20 °C

In [25]:
# Converting to HTML table string
mars_facts.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Property</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n  </tbody>\n</table>'

### Mars Hemisphere

In [26]:
# Opening URL
hemispheres_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemispheres_url)

In [27]:
# Creating BeautifulSoup object and parsing with 'html.parser'
html = browser.html
hemisphere_soup = BeautifulSoup(html, 'html.parser')

In [34]:
# Retreiving all items that contain mars hemispheres information
items = hemisphere_soup.find_all('div', class_='item')

# Creating list for hemisphere urls 
hemisphere_image_urls = []

# Store the main_ul 
hemispheres_main_url = 'https://astrogeology.usgs.gov'

# Loop through the items previously stored
for i in items: 
    # Store title
    title = i.find('h3').text
    
    # Store link that leads to full image website
    partial_img_url = i.find('a', class_='itemLink product-item')['href']
    
    # Visit the link that contains the full image website 
    browser.visit(hemispheres_main_url + partial_img_url)
    
    # HTML Object of individual hemisphere information website 
    partial_img_html = browser.html
    
    # Parse HTML with Beautiful Soup for every individual hemisphere information website 
    soup = BeautifulSoup( partial_img_html, 'html.parser')
    
    # Retrieve full image source 
    img_url = hemispheres_main_url + soup.find('img', class_='wide-image')['src']
    
    # Append the retreived information into a list of dictionaries 
    hemisphere_image_urls.append({"title" : title, "img_url" : img_url})
    

# Display hemisphere_image_urls
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]